<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lol</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
   <form action="">
  <div id="input1" >
  <label for="academic-year">Select Academic Year:</label><br>
  <select id="academic-year" name="academic-year" required>
    <option value="" disabled selected>Select a year</option>
    <option value="2020-2021">2020–2021</option>
    <option value="2021-2022">2021–2022</option>
    <option value="2022-2023">2022–2023</option>
    <option value="2023-2024">2023–2024</option>
    <option value="2024-2025">2024–2025</option>
    <option value="2025-2026">2025–2026</option>
  </select>
   </div> 



     <div id="input2">
    <label for="certificate-type">Enter certificate-type</label><br>
  <!-- <select id="certificate-type" name="certificate-type" required>
    <option value="" disabled selected>Select a certificate</option>
    <option value="a">a</option>
    <option value="b">b</option>
    <option value="c">c</option>
  </select> -->
  <input type="text" name="certificate-type" id="certificate-type" placeholder="Enter certificate type" required>
     </div>

      <div id="input3">
      <input id="file-input" type="file" accept="image/*" required>
      </div>
       
      <button id="submit" type="submit">Submit</button>
      <button id="add-name">Add name</button>
   </form>
   

      <div id="image-preview">
         <div id="vertical-line" class="crosshair-line"></div>
  <div id="horizontal-line" class="crosshair-line"></div>
  <div id="name-preview"></div>
      </div>

      <div id="result"> 
      </div>






    <script src="static/index.js"></script>
</body>
</html>